.log-in,
.log-in * {
  box-sizing: border-box;
}
.log-in {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 960px;
  position: relative;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.header-navigation {
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 96px;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo-reserwa {
  flex-shrink: 0;
  width: 192px;
  height: 56px;
  position: relative;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: var(--gray-900, #101828);
  text-align: left;
  font-family: var(
    --display-md-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-md-semibold-font-size, 36px);
  line-height: var(--display-md-semibold-line-height, 44px);
  letter-spacing: var(--display-md-semibold-letter-spacing, -0.02em);
  font-weight: var(--display-md-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.supporting-text {
  color: var(--gray-600, #475467);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.content3 {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field-base {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: var(--text-sm-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-sm-medium-font-size, 14px);
  line-height: var(--text-sm-medium-line-height, 20px);
  font-weight: var(--text-sm-medium-font-weight, 500);
  position: relative;
}
.input {
  background: var(--white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 1px;
  padding: 10px 14px 10px 14px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.content4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.text2 {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
  flex: 1;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.checkbox2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.checkbox-base {
  background: var(--white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 1px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.text3 {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: var(--text-sm-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-sm-medium-font-size, 14px);
  line-height: var(--text-sm-medium-line-height, 20px);
  font-weight: var(--text-sm-medium-font-weight, 500);
  position: relative;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-base {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text4 {
  color: var(--brand-700, #6941c6);
  text-align: left;
  font-family: var(
    --text-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-sm-semibold-font-size, 14px);
  line-height: var(--text-sm-semibold-line-height, 20px);
  font-weight: var(--text-sm-semibold-font-weight, 600);
  position: relative;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-base2 {
  background: var(--brand-600, #7f56d9);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--brand-600, #7f56d9);
  border-width: 1px;
  padding: 10px 18px 10px 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.text5 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --text-md-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-md-semibold-font-size, 16px);
  line-height: var(--text-md-semibold-line-height, 24px);
  font-weight: var(--text-md-semibold-font-weight, 600);
  position: relative;
}
.social-button-groups {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.social-button {
  background: var(--white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.social-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.text6 {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: var(
    --text-md-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-md-semibold-font-size, 16px);
  line-height: var(--text-md-semibold-line-height, 24px);
  font-weight: var(--text-md-semibold-font-weight, 600);
  position: relative;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text7 {
  color: var(--gray-600, #475467);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
}
.footer {
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 96px;
  position: relative;
}
.text8 {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
}
.section2 {
  background: var(--blue-gray-400, #717bbc);
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.line-pattern {
  width: 298px;
  height: 408px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: visible;
}
.line-pattern2 {
  width: 298px;
  height: 408px;
  position: absolute;
  left: 0px;
  bottom: -256px;
  overflow: visible;
}
._3-2-screen-mockup {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--gray-900, #101828);
  border-width: 6px;
  width: 1024px;
  height: 682px;
  position: absolute;
  left: 96px;
  top: calc(50% - 341px);
}
.mockup-shadow {
  background: var(--gray-900, #101828);
  border-radius: 12px;
  position: absolute;
  right: 8px;
  left: 8px;
  bottom: 0px;
  top: 0px;
  box-shadow: var(
    --shadow-3xl-box-shadow,
    0px 32px 64px -12px rgba(16, 24, 40, 0.14)
  );
}
.screen-mockup-replace-fill {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--gray-100, #f2f4f7);
  border-width: 1px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
