.desktop,
.desktop * {
  box-sizing: border-box;
}
.desktop {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.sidebar-navigation {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 260px;
  height: 1128px;
  min-height: 750px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.nav {
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header {
  padding: 0px 20px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo-reserwa {
  flex-shrink: 0;
  width: 192px;
  height: 56px;
  position: relative;
  overflow: hidden;
}
.content2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navigation {
  padding: 24px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 253px;
  position: relative;
}
.nav-item-dropdown-base {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nav-item-base {
  background: var(--white, #ffffff);
  border-radius: 6px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.content3 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.calendar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.text {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: var(
    --text-md-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-md-semibold-font-size, 16px);
  line-height: var(--text-md-semibold-line-height, 24px);
  font-weight: var(--text-md-semibold-font-weight, 600);
  position: relative;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.users {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.nav-item-base2 {
  background: var(--white, #ffffff);
  border-radius: 6px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.message-square {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.pie-chart {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.footer {
  padding: 0px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.divider {
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
  overflow: visible;
}
.nav-featured-card {
  background: var(--brand-50, #f9f5ff);
  border-radius: 8px;
  padding: 20px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: var(--brand-700, #6941c6);
  text-align: left;
  font-family: var(
    --text-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-sm-semibold-font-size, 14px);
  line-height: var(--text-sm-semibold-line-height, 20px);
  font-weight: var(--text-sm-semibold-font-weight, 600);
  position: relative;
  flex: 1;
}
.supporting-text {
  color: var(--brand-600, #7f56d9);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.progress-bar2 {
  border-radius: 8px;
  flex: 1;
  height: 8px;
  position: relative;
}
.background {
  background: var(--brand-100, #f4ebff);
  border-radius: 4px;
  height: 8px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.progress {
  background: var(--brand-600, #7f56d9);
  border-radius: 4px;
  width: 83.37%;
  height: 8px;
  position: absolute;
  right: 16.63%;
  left: 0%;
  top: 0px;
}
.actions2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-base {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text3 {
  color: var(--brand-500, #9e77ed);
  text-align: left;
  font-family: var(
    --text-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-sm-semibold-font-size, 14px);
  line-height: var(--text-sm-semibold-line-height, 20px);
  font-weight: var(--text-sm-semibold-font-weight, 600);
  position: relative;
}
.text4 {
  color: var(--brand-700, #6941c6);
  text-align: left;
  font-family: var(
    --text-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-sm-semibold-font-size, 14px);
  line-height: var(--text-sm-semibold-line-height, 20px);
  font-weight: var(--text-sm-semibold-font-weight, 600);
  position: relative;
}
.divider2 {
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  height: auto;
  position: relative;
  overflow: visible;
}
.main {
  background: var(--gray-25, #fcfcfd);
  padding: 32px 0px 48px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.header-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container {
  padding: 0px 32px 12px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.page-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text5 {
  color: var(--gray-900, #101828);
  text-align: left;
  font-family: var(--display-md-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--display-md-bold-font-size, 36px);
  line-height: var(--display-md-bold-line-height, 44px);
  letter-spacing: var(--display-md-bold-letter-spacing, -0.02em);
  font-weight: var(--display-md-bold-font-weight, 700);
  position: relative;
}
.content4 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-base2 {
  background: var(--white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.zap {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text6 {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: var(
    --text-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-sm-semibold-font-size, 14px);
  line-height: var(--text-sm-semibold-line-height, 20px);
  font-weight: var(--text-sm-semibold-font-weight, 600);
  position: relative;
}
.actions3 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.nav-item-button {
  background: var(--white, #ffffff);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 105px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.nav-item-button2 {
  background: var(--brand-50, #f9f5ff);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 105px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.settings {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.bell {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  background: var(
    --avatar-user-square-kate-morrison-color-background,
    linear-gradient(to left, #dbc0dd, #dbc0dd)
  );
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.chevron-down {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.stepper-horizontal {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.step-text-horizontal {
  flex-shrink: 0;
  width: 32px;
  height: 58px;
  position: relative;
}
.step-symbol {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.icon {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.circle {
  background: var(--brand-700, #6941c6);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--brand-700, #6941c6);
  border-width: 2px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.icon-action-check {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12.5px);
  top: calc(50% - 12px);
  overflow: visible;
}
.text7 {
  color: var(--brand-700, #6941c6);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: -7px;
  top: 42px;
}
.step-trail {
  flex-shrink: 0;
  width: 80px;
  height: 32px;
  position: relative;
}
.rect {
  background: var(--brand-700, #6941c6);
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: calc(50% - 1px);
}
.icon-action-check2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12.5px);
  top: calc(50% - 12px);
  overflow: visible;
}
.text8 {
  color: var(--brand-700, #6941c6);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: -10px;
  top: 42px;
}
.icon-action-check3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12.5px);
  top: calc(50% - 12px);
  overflow: visible;
}
.text9 {
  color: var(--brand-700, #6941c6);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: -30px;
  top: 42px;
}
.default-trail {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.number {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.circle2 {
  background: var(--light, #ffffff);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--brand-700, #6941c6);
  border-width: 2px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._01 {
  color: var(--brand-700, #6941c6);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 8.5px);
  top: calc(50% - 8.5px);
}
.text10 {
  color: var(--brand-700, #6941c6);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: -14px;
  top: 42px;
}
.rect2 {
  background: var(--gray-400, #98a2b3);
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: calc(50% - 1px);
}
.circle3 {
  background: var(--light, #ffffff);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--gray-400, #98a2b3);
  border-width: 2px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._012 {
  color: var(--gray-700, #344054);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 8.5px);
  top: calc(50% - 8.5px);
}
.text11 {
  color: var(--gray-700, #344054);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: -26.5px;
  top: 42px;
}
.divider3 {
  background: var(--gray-200, #e4e7ec);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-header {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content5 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-and-supporting-text2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.text12 {
  color: var(--gray-900, #101828);
  text-align: left;
  font-family: var(
    --text-lg-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-lg-semibold-font-size, 18px);
  line-height: var(--text-lg-semibold-line-height, 28px);
  font-weight: var(--text-lg-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.supporting-text2 {
  color: var(--gray-600, #475467);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.actions4 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-base3 {
  background: var(--brand-600, #7f56d9);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--brand-600, #7f56d9);
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.text13 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --text-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-sm-semibold-font-size, 14px);
  line-height: var(--text-sm-semibold-line-height, 20px);
  font-weight: var(--text-sm-semibold-font-weight, 600);
  position: relative;
}
.content6 {
  padding: 40px 32px 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.empty-state {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 512px;
  position: relative;
}
.empty-state2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 352px;
  position: relative;
}
.content7 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.featured-icon {
  background: var(--brand-100, #f4ebff);
  border-radius: 28px;
  border-style: solid;
  border-color: var(--brand-50, #f9f5ff);
  border-width: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.search2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 12px;
  overflow: hidden;
}
.zap2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.text-and-supporting-text3 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text14 {
  color: var(--gray-900, #101828);
  text-align: center;
  font-family: var(
    --text-md-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-md-semibold-font-size, 16px);
  line-height: var(--text-md-semibold-line-height, 24px);
  font-weight: var(--text-md-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.supporting-text3 {
  color: var(--gray-600, #475467);
  text-align: center;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.modal-actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button3 {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.button-base4 {
  background: var(--brand-600, #7f56d9);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--brand-600, #7f56d9);
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.plus {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.footer2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content8 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.lightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.lightbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}